/* import css components 

@import "./title.css";
@import "./logo.css";

 variables definition */

:root {
    --fontBase: "Zen Dots", cursive;
    --white: #dddcdc;
    --teal: #1c9b90;
    --background: #152e2c;
}

body {
    font-family: var(--fontBase);
    font-size: medium;
    background-color: var(--background);
    color: var(--white);
    min-block-size: 100vh;
    text-align: center;
    margin: 0;
}

.wrap {
    border-left: solid 50px var(--teal);
    z-index: 2;
}

.header {
    padding-block-start: 32px;
    padding-inline-end: 16px;
    padding-inline-start: 16px;
    display: flexbox;
    align-items: center;
}

.title {
    color: var(--teal);
    font-family: var(--headline1);
    font-size: larger;
    font-weight: bold;
}

.logo {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 115px;
    background-color: var(--teal);
    border-radius: 50%;
}

.content {
    display: flexbox;
    padding-inline-end: 20px;
    padding-inline-start: 20px;
    font-size: small;
}

section {
    padding-block-end: 20px;
}

.section-title {
    color: var(--white);
}

.objective {
    padding-block-start: 15px;
    color: var(--teal);
}

.profile ul {
    padding-inline-end: 20px;
}

.education {
    display: inline-block;
}

.profile li {
    display: flex;
    justify-content: center;
    color: var(--teal);
}

.professional h4 {
    color: var(--teal);
}

.professional li {}

.contact {
    display: inline-flexbox;
}